body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* LIGHT THEME */
.light {
  background-color: white;
  color: black;
}

/* DARK THEME */
.dark {
  background-color: black;
  color: white;
}

/* button styling */
button {
  padding: 8px 14px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.light button {
  background-color: black;
  color: white;
}

.dark button {
  background-color: white;
  color: black;
}
